!---[ Font Settings ]---!
URxvt.font:                             xft:FuraCode Nerd Font:style=Regular:pixelsize=15:Medium, xft:Symbola
URxvt.boldFont:                         xft:FuraCode Nerd Font:style=Bold:pixelsize=15:Bold, xft:Symbola
URxvt.italicFont:                       xft:FuraCode Nerd Font:style=Regular:pixelsize=15:Italic, xft:Symbola
URxvt.boldItalicFont:                   xft:FuraCode Nerd Font:style=Bold:pixelsize=15:Bold:Italic, xft:Symbola

URxvt.letterSpace:                      -1
URxvt.lineSpace:                        0
URxvt.urgentOnBell:                     true

Xft.antialias:                          true
Xft.autohint:                           false
Xft.dpi:                                96
Xft.hinting:                            true
Xft.hintstyle:                          hintfull
Xft.lcdfilter:                          lcddefault
Xft.rgba:                               rgb

!---[ URxvt Settings ]---!
URxvt.internalBorder:                   0
URxvt.externalBorder:                   0
URxvt.thickness:                        0
URxvt.iso14755:                         false
URxvt.iso14755_52:                      false
URxvt.scrollBar:                        false
URxvt.fading:                           40
URxvt.depth:                            32


! Base16 Eighties
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #2d2d2d
#define base01 #393939
#define base02 #515151
#define base03 #747369
#define base04 #a09f93
#define base05 #d3d0c8
#define base06 #e8e6df
#define base07 #f2f0ec
#define base08 #f2777a
#define base09 #f99157
#define base0A #ffcc66
#define base0B #99cc99
#define base0C #66cccc
#define base0D #6699cc
#define base0E #cc99cc
#define base0F #d27b53

URxvt.borderColor:  base01
URxvt.colorIT:      base0E
URxvt.colorBD:      base0D
URxvt.colorUL:      base0E

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07
