snippet html "<html> ..."
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewpoert content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
	<title>$1</title>
</head>
<body>

	$0

</body>
</html>
endsnippet

snippet css "<link ..." 
<link rel="stylesheet" href="$1">$0
endsnippet

snippet js "<script ..." 
<script src="$1"></script>$0
endsnippet

snippet canv "<canvas ..."
<canvas id="$1" width="$2" height="$3"></canvas>$0
endsnippet
