snippet req "var ... = require('...');" b
var $1 = require('$1');
$0
endsnippet

snippet cl "console.log(...);" b
console.log($1);
$0
endsnippet

snippet svein "lol" 
<div id="$1">
	$0
</div>
endsnippet
